{% extends 'base.html' %}

{% block head %}

<title>FTC Check-Your-Can - Admin section</title>

{% endblock %}


{% block body %}

<h2>Users</h2>

<table>
   <thead>
      <tr>
         <th>id</th>
         <th>email</th>
         <th>name</th>
         <th>admin</th>
         <th>campaign_team</th>
         <th>staff</th>
      </tr>
   </thead>
   
   <tbody>
      {% for user in users %}
         <form action="/admin_user" method="POST">
            <tr>
               <td>{{ user.id }}</td>
               <td>{{ user.email }}</td>
               <td>{{ user.name }}</td>
               <td>{{ user.admin }}</td>
               <td>{{ user.campaign_team }}</td>
               <td>{{ user.staff }}</td>
            </tr>
         </form>
      {% endfor %}
   </tbody>
</table>

{% endblock %}
