<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}{% endblock %}
</head>
<body background="">
    <div class="navbar-end">
        <a href="{{ url_for('index.index') }}" class="navbar-item">
            Home
        </a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('profile.profile') }}" class="navbar-item">
            Profile
        </a>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('auth.login') }}" class="navbar-item">
            Login
        </a>
        <a href="{{ url_for('auth.signup') }}" class="navbar-item">
            Sign Up
        </a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}" class="navbar-item">
            Logout
        </a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('readme.readme') }}" class="navbar-item">
            README
        </a>
        {% endif %}
    </div>
    {% block body %}{% endblock %}
</body>
</html>
