{% extends 'base.html' %}

{% block head %}

<title>FTC Check-Your-Fate - Fates from DB</title>

{% endblock %}


{% block body %}
<div class="form">
    <form action="/fates" method="POST">
        <select name="mission_id" method="GET" action="/get_processed_missions" id="mission_id">
            {% for processed_mission in processed_missions %}
                <option value="{{processed_mission.id}}">{{processed_mission.pam_name}}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="View fates">
    </form>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
   <div class="notification is-danger">
       {{ messages[0] }}
   </div>
{% endif %}
{% endwith %}

<table>
   <thead>
      <tr>
         <th>id</th>
         <th>recalc</th>
         <th>mission_id</th>
         <th>pam_id</th>
         <th>name</th>
         <th>unit</th>
         <th>fate</th>
         <th>fate_detail</th>
         <th>health</th>
         <th>wound</th>
         <th>aircraft_status</th>
         <th>damage</th>
         <th>takeoff_position_x</th>
         <th>takeoff_position_z</th>
         <th>landed_position_x</th>
         <th>landed_position_z</th>
         <th>ditched_position_x</th>
         <th>ditched_position_z</th>
         <th>bailout_position_x</th>
         <th>bailout_position_z</th>
         <th>crashed_position_x</th>
         <th>crashed_position_z</th>
         <th>target_position_x</th>
         <th>target_position_z</th>
         <th>captured_position_x</th>
         <th>captured_position_z</th>
         <th>dead_position_x</th>
         <th>dead_position_z</th>
      </tr>
   </thead>
   
   <tbody>
      {% for fate in fates %}
         <tr>
            <td>{{ fate.id }}</td>
            <td>
                <div class="form">
                    <form action="/recalc" method="POST">
                        <input type="submit" name="fate_id" value={{fate.id}}>
                    </form>
                </div>
            </td>
            <td>{{ fate.mission_id }}</td>
            <td>{{ fate.pam_id }}</td>
            <td>{{ fate.name }}</td>
            <td>{{ fate.unit }}</td>
            <td>{{ fate.fate }}</td>
            <td>{{ fate.fate_detail }}</td>
            <td>{{ fate.health }}</td>
            <td>{{ fate.wound }}</td>
            <td>{{ fate.aircraft_status }}</td>
            <td>{{ fate.damage }}</td>
            <td>{{ fate.takeoff_position_x }}</td>
            <td>{{ fate.takeoff_position_z }}</td>
            <td>{{ fate.landed_position_x }}</td>
            <td>{{ fate.landed_position_z }}</td>
            <td>{{ fate.ditched_position_x }}</td>
            <td>{{ fate.ditched_position_z }}</td>
            <td>{{ fate.bailout_position_x }}</td>
            <td>{{ fate.bailout_position_z }}</td>
            <td>{{ fate.crashed_position_x }}</td>
            <td>{{ fate.crashed_position_z }}</td>
            <td>{{ fate.target_position_x }}</td>
            <td>{{ fate.target_position_z }}</td>
            <td>{{ fate.captured_position_x }}</td>
            <td>{{ fate.captured_position_z }}</td>
            <td>{{ fate.dead_position_x }}</td>
            <td>{{ fate.dead_position_z }}</td>
         </tr>
      {% endfor %}
   </tbody>
</table>

{% endblock %}
