{% extends 'base.html' %}

{% block head %}
<style>
    body {
    background-image: url("https://cdn.discordapp.com/attachments/903029574084997180/903725085007937626/20180408232614_1.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    }
</style>


<title>FTC Check-Your-Can</title>

{% endblock %}


{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

<h1>FTC Check-Your-Can</h1>
<p align="left">
    {% if current_user.is_authenticated %}
    <div class="form">
        <form action="/map" method="POST" target="_blank">
            <select name="pam_mission_id" method="GET" action="/get_processed_missions" id="pam_mission_id">
                {% for processed_mission in processed_missions %}
                    <option value="{{processed_mission.pam_id}}">{{processed_mission.pam_name}}</option>
                {% endfor %}
            </select><br>
            <input type="submit" value="View Map">
        </form>
    </div>
    <br>
    <a href=wrap_up>
        <button class=grey style="height:75px;width:150px">
            Wrap Up
        </button>
    </a>
    <br>
    <a href=manage_mission>
        <button class=grey style="height:75px;width:150px">
            Manage missions
        </button>
    </a>
    <br>
    <a href=fates>
        <button class=grey style="height:75px;width:150px">
            Fates
        </button>
    </a>
    <br>
    <a href=pilots_not_linked>
        <button class=grey style="height:75px;width:150px">
            Pilots not linked
        </button>
    </a>
    <br>
    <a href=admin>
        <button class=grey style="height:75px;width:150px">
            Admin section
        </button>
    </a>
    {% endif %}
</p>

{% endblock %}
