{% extends 'base.html' %}

{% block head %}

<title>FTC Check-Your-Can - Missions from DB</title>

{% endblock %}


{% block body %}

<br>
<a href=process_mission>
    <button class=grey style="height:75px;width:150px">
        Process missions
    </button>
</a>

{% with messages = get_flashed_messages() %}
{% if messages %}
   <div class="notification">
       {{ messages[0] }}.
   </div>
{% endif %}
{% endwith %}

<div class="form">
    <form action = "upload_mission" method = "POST" 
        enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
    </form>
</div>

<div class="form">
    <form action="/manage_mission" method="POST">
        <label for="pam_missions_on_debriefing">Select the proper PAM Mission on debriefing</label><br>
        <select name="pam_missions_on_debriefing" method="GET" id="pam_missions_on_debriefing">
            {% for pam_mission_on_debriefing in pam_missions_on_debriefing %}
                <option value="{{pam_mission_on_debriefing}}">{{pam_mission_on_debriefing['pam_name']}}</option>
            {% endfor %}
        </select><br>

        <label for="il2stats_id">Select the proper il2_stats Mission which is not yet linked</label><br>
        <select name="il2stats_missions_not_linked" method="GET" id="il2stats_missions_not_linked">
            {% for il2stats_mission_not_linked in il2stats_missions_not_linked %}
                <option value="{{il2stats_mission_not_linked}}">{{il2stats_mission_not_linked['il2stats_name']}}</option>
            {% endfor %}
        </select><br>

        <label for="filename">Select the proper uploaded *.mission file</label><br>
        <select name="missionfiles" method="GET" id="filename">
            {% for missionfile in missionfiles %}
                <option value="{{missionfile}}">{{missionfile}}</option>
            {% endfor %}
        </select><br>

        <label for="submit">Check your inputs before adding the mission!</label><br>
        <input type="submit" value="Add Mission">
    </form>
</div>

<table>
   <thead>
      <tr>
         <th>id</th>
         <th>pam_campaign_id</th>
         <th>pam_id</th>
         <th>pam_name</th>
         <th>il2stats_id</th>
         <th>filename</th>
         <th>processed</th>
         <th>delete</th>
      </tr>
   </thead>
   
   <tbody>
      {% for mission in missions %}
         <tr>
            <td>{{ mission.id }}</td>
            <td>{{ mission.pam_campaign_id }}</td>
            <td>{{ mission.pam_id }}</td>
            <td>{{ mission.pam_name }}</td>
            <td>{{ mission.il2stats_id }}</td>
            <td>{{ mission.filename }}</td>
            <td>{{ mission.processed }}</td>
            <td>
                <div class="form">
                    <form action="/delete_mission" method="POST">
                        <input type="submit" name="mission_id" value={{mission.id}}>
                    </form>
                </div>
            </td>
         </tr>
      {% endfor %}
   </tbody>
</table>

{% endblock %}
