{% extends 'base.html' %}

{% block head %}

<title>FTC Check-Your-Can - Pilots not linked</title>

{% endblock %}


{% block body %}

<table>
   <thead>
      <tr>
         <th>pam_id</th>
         <th>pam_callsign</th>
         <th>pam_boxid</th>
         <th>il2stats_nickname</th>
         <th>Jason-DNA (il2stats_boxid)</th>
      </tr>
   </thead>
   
   <tbody>
      {% for pilot_not_linked in pilots_not_linked %}
         <tr>
            <td>{{ pilot_not_linked["pam_id"] }}</td>
            <td>{{ pilot_not_linked["pam_callsign"] }}</td>
            <td>{{ pilot_not_linked["pam_boxid"] }}</td>
            <td>{{ pilot_not_linked["il2stats_nickname"] }}</td>
            <td>{{ pilot_not_linked["il2stats_boxid"] }}</td>
         </tr>
      {% endfor %}
   </tbody>
</table>

{% endblock %}
