{% extends "base.html" %}

{% block head %}

<title>FTC Check-Your-Can Signup</title>

{% endblock %}

{% block body %}
<h1 class="title">
    Welcome, {{ name }}!
</h1>

<h3 class="title">Access-rights:</h3>
Admin: {{ admin }} <br>
Campaign-Team: {{ campaign_team }} <br>
Staff: {{ staff }} <br>

{% endblock %}
