{% extends "base.html" %}

{% block head %}

<title>FTC Check-Your-Can Wrap Up</title>

{% endblock %}

{% block body %}
<div class="form">
    <form action="/wrap_up" method="POST">
        <select name="mission_id" method="GET" action="/get_processed_missions" id="mission_id">
            {% for processed_mission in processed_missions %}
                <option value="{{processed_mission.id}}">{{processed_mission.pam_name}}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="View wrap up">
    </form>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
   <div class="notification is-danger">
       {{ messages[0] }}
   </div>
{% endif %}
{% endwith %}

<table>
   <thead>
      <tr>
         <th>id</th>
         <th>mission_id</th>
         <th>base_unit_name</th>
         <th>sorties</th>
         <th>pilotHealthy</th>
         <th>pilotWounded</th>
         <th>pilotDead</th>
         <th>aircraftUnharmed</th>
         <th>aircraftDamaged</th>
         <th>aircraftDestroyed</th>
         <th>pilotLossPercentage</th>
         <th>aircraftLossPercentage</th>
      </tr>
   </thead>
   
   <tbody>
      {% for wrap_up in wrap_ups %}
         <tr>
            <td>{{ wrap_up.id }}</td>
            <td>{{ wrap_up.mission_id }}</td>
            <td>{{ wrap_up.base_unit_name }}</td>
            <td>{{ wrap_up.sorties }}</td>
            <td>{{ wrap_up.pilotHealthy }}</td>
            <td>{{ wrap_up.pilotWounded }}</td>
            <td>{{ wrap_up.pilotDead }}</td>
            <td>{{ wrap_up.aircraftUnharmed }}</td>
            <td>{{ wrap_up.aircraftDamaged }}</td>
            <td>{{ wrap_up.aircraftDestroyed }}</td>
            <td>{{ wrap_up.pilotLossPercentage }}</td>
            <td>{{ wrap_up.aircraftLossPercentage }}</td>
         </tr>
      {% endfor %}
   </tbody>
</table>

{% endblock %}
